.button-to-portfolio {
	width: 150px;
	height: 90px;
	background-color: rgb(180, 151, 132);
	position: absolute;
	top: 35%;
	left: 8.5%;
	border-radius: 5px;
	font-size: 29px;
	font-family: VeryBerryPro-Regular;
	color: #ffffff;
	text-shadow: 0 0 1px black;
}

.button-to-portfolio:hover {
	box-shadow: 0 0 3px 2px rgb(180, 151, 132);
	background-color: #ffffff;
	color: rgb(180, 151, 132);
	transition: all 0.2s ease-out;
	text-shadow: 0 0 0 white;
}

.button-text {
	text-align: center;
	top: 15px;
	position: absolute;
}
