.link {
	width: auto;
	background-color: rgb(246, 247, 247);
	height: 150px;
	position: relative;
}

footer {
	background-color: rgb(231, 230, 227);
	height: 100px;
	position: relative;
	min-width: 1220px;
}

.share {
	width: 200px;
	height: 100px;
	float: right;
	margin-right: 5%;
}

.social {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: white;
	position: relative;
	top: 20px;
}

.share .social-vk {
	background: url("../photo/Vk.jpg") 50% 50% no-repeat;
	background-size: contain;

}

.share .social-vk:hover {
	transform: scale(1.2);
	transition: all 0.2s ease-out;
}

.share .social-insta {
	background: url("../photo/Insta.jpg") 50% 50% no-repeat;
	background-size: contain;
}

.share .social-insta:hover {
	transform: scale(1.2);
	transition: all 0.2s ease-out;
}

.insta-photo {
	width: 1200px;
	height: 150px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

div[class*="foot"] {
	width: 200px;
	height: 150px;
	float: left;
	background-size: cover;
}

.insta-pic {
	width: 1200px;
	height: 150px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}


.foot1 {
	background: url("../photo/Luda1.jpg") 50% 50% no-repeat;
}

.foot2 {
	background: url("../photo/Luda3.jpg") no-repeat;
}

.foot3 {
	background: url("../photo/Luda2.jpg") no-repeat;
}

.foot4 {
	background: url("../photo/Nat1.jpg") no-repeat;
}

.foot5 {
	background: url("../photo/Nat2.jpg") no-repeat;
}

.foot6 {
	background: url("../photo/Nat3.jpg") no-repeat;
}

.outer-button {
	display: block;
	background-color: rgb(180, 151, 132);
	width: 200px;
	height: 50px;
	position: relative;
	margin: auto;
	top: 50px;
	border-radius: 5px;
}

.outer-button:hover {
	box-shadow: inset 0 0 3px 1px white;
	transform: scale(1.01);
	transition: all 0.2s ease-out;
}

.button {
	position: absolute;
	top: 15px;
	left: 43px;
}

.insta-button {
	color: #ffffff;
	font-family: CrimsonText-Roman;
	font-size: 1.71;
}

.imagesBy {
	display: inline-block;
	position: absolute;
	top: 40px;
	left: 45%;
	font-family: "CrimsonText-Roman";
}

.sign {
	background: url("../photo/sign.png") 50% 50% no-repeat;
	background-size: cover;
	width: 150px;
	height: 70px;
	margin-left: 5%;
	margin-top: -10px;
}

.logo {
	width: 130px;
	height: 90px;
	background: url("../photo/sign.jpg") 50% 50% no-repeat;
	background-size: contain;
	position: fixed;
	top: 0px;
	left: 45%;
}

.block-sign {
	width: 320px;
	height: 90px;
	float: left;
	margin-top: 10px;
}

.mfs {
	width: 90px;
	height: 80px;
	background: url("../photo/mfs.jpg") 50% 50% no-repeat;
	background-size: cover;
	float: left;
	display: inline-block;
	margin-top: 5px;
	margin-left: 15px;
}

.mfs:hover {
	transform: scale(1.02);
	transition: scale 0.1s ease-out;
}

.iva {
	width: 150px;
	height: 80px;
	background: url("../photo/sign.jpg") 50% 50% no-repeat;
	background-size: cover;
	float: left;
	display: inline-block;
	margin-top: 5px;
	margin-left: 15px;
}

.iva:hover {
	transform: scale(1.02);
	transition: scale 0.1s ease-out;
}

.button-back {
	width: 200px;
	height: 50px;
	background-color: rgb(180, 151, 132);
	position: absolute;
	bottom: -85px;
	left: 42%;
	border-radius: 5px;
	font-size: 29px;
	font-family: VeryBerryPro-Regular;
	color: #ffffff;
	text-shadow: 0 0 1px black;
}

.button-back:hover {
	box-shadow: 0 0 3px 2px rgb(180, 151, 132);
	background-color: #ffffff;
	color: rgb(180, 151, 132);
	transition: all 0.2s ease-out;
	text-shadow: 0 0 0 white;
}

.button-back2 {
	text-align: center;
	top: 10px;
	left: 24px;
	position: absolute;
}
