body {
	margin: 0px;
	padding: 0px;
	min-width: 1600px;
}

.page {
	text-decoration: underline;
}

.text:hover {
	text-decoration: underline;
	transition-delay: 1s;
}


.outer-box {
	background-color: rgb(234, 233, 231);
	width: auto;
	height: auto;
	padding: 10px;
	position: relative;
}

.pageInformation {
	margin: 0px auto;
	display: block;
	position: absolute;
	top: 370px;
	left: 30%;
}

.gallery {
	width: 100%;
	margin-top: 110px;
	height: auto;
	margin-bottom: 100px;
}

.photoFull {
	width: auto;
	min-width: 600px;
	height: auto;
	margin: 0 auto;
}

.full-photo {
	width: auto;
	height: 600px;
	margin: 0 auto;
	display: block;
	border-radius: 10px;
	border: 5px double rgb(180, 151, 132);
	object-fit: contain;
}

.carousel {
	position: relative;
	width: 83%;
	min-width: 1320px;
	background: rgb(180, 151, 132);
	margin: 25px auto;
	overflow: hidden;
	border-radius: 10px;
}

.carousel img {
	width: 210px;
	height: 200px;
	display: block;
	border: 0;
	object-fit: cover;
	border-radius: 10px;
}

.part-1 {
	list-style-type: none;
	height: 200px;
	width: 9999px;
}

li {
	display: inline-block;
}

.gallery-photo-preview {
	margin-right: 44px;
	/* или 45 пикселей, если не фотки съедут */
	border: 0;
	padding: 0;
}

.gallery-photo-preview:hover,
.gallery-photo-preview:focus {
	opacity: 0.7;
	box-shadow: 0 0 3px 1px rgb(231, 230, 228);
	border-radius: 10px;
}

#right-button {
	background: rgb(234, 233, 231);
	border: 0;
	position: absolute;
	top: 850px;
	left: 92%;
}

#left-button {
	background: rgb(234, 233, 231);
	border: 0;
	position: absolute;
	top: 850px;
	left: 6%;
}
