body {
	margin: 0;
	padding: 0;
	min-width: 1220px;
}

.box {
	background-size: cover;
	width: 100%;
	height: 1080px;
	margin: 0px;
	min-width: 1220px;
}

#slider {
	position: relative;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slider {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 1080px;
	opacity: 0;
	z-index: 1;
	transition: opacity 1.5s;
}

.showing {
	opacity: 1;
	z-index: 2;
}

.slider:nth-of-type(1) {
	background: url(../photo/Lila1.jpg) 50% 20% no-repeat;
	background-size: cover;
}

.slider:nth-of-type(2) {
	background: url(../photo/Inna1.jpg) 50% 30% no-repeat;
	background-size: cover;
}

.slider:nth-of-type(3) {
	background: url(../photo/Fotobox/Lera7.jpg) 50% 30% no-repeat;
	background-size: cover;
}

.slider:nth-of-type(4) {
	background: url(../photo/Zanna/Zanna16.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.slider:nth-of-type(5) {
	background: url(../photo/Luda2.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.slider:nth-of-type(6) {
	background: url(../photo/Horses/Valeria10.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.page {
	text-decoration: underline;
}

.text:hover {
	text-decoration: underline;
	transition-delay: 1s;
}

button {
	opacity: 0.7;
}

.outer-box {
	background-color: rgb(234, 233, 231);
	height: 1670px;
	min-width: 1220px;
	padding-top: 10px;
	position: relative;
}

.inner-box {
	background-color: rgb(246, 247, 247);
	width: 1200px;
	height: 700px;
	margin: 50px auto;
	border-radius: 10px;
	padding: 10px;
}

.Ivasblock {
	width: 400px;
	height: 550px;
	background: url("../photo/Iva.jpg");
	background-size: cover;
	margin-top: 70px;
	margin-bottom: 70px;
	margin-left: 50px;
	float: left;
	border-radius: 10px;
}

.text1 {
	display: inline-block;
	font-family: Letter Gothic;
	font-size: 25px;
	width: 600px;
	margin-left: 60px;
	margin-top: 25px;
	text-indent: 40px;
	text-shadow: 0 0 2px rgb(174, 140, 122);
}

#name {
	display: inline-block;
	float: right;
	margin-top: 50px;
	font-family: VeryBerryPro-Regular;
	font-size: 30px;
	margin-right: 60px;
}

.headline {
	font-size: 40px;
	font-family: VeryBerryPro-Regular;
	text-align: center;
}

.headline2 {
	font-family: VeryBerryPro-Regular;
	text-align: center;
	margin-top: 100px;
}

.minitext {
	font-size: 60px;
}

.table {
	width: 1220px;
	margin-left: auto;
	margin-right: auto;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.pic1 {
	width: 290px;
	height: 200px;
	background: url("../photo/photo9.jpg") 50% 50% no-repeat;
	background-size: cover;
	float: left;
	margin-right: 20px;
	border-radius: 10px 0px 0px 0px;
}

.pic2 {
	width: 290px;
	height: 200px;
	background: url("../photo/Bella/Bella18.jpg") 100% 50% no-repeat;
	background-size: 150%;
	float: left;
	margin-right: 20px;

}

.pic3 {
	width: 600px;
	height: 400px;
	background: url("../photo/photo10.jpg") 50% 50% no-repeat;
	background-size: cover;
	float: right;
	border-radius: 0px 10px 00px 0px;
}

.pic4 {
	width: 600px;
	height: 400px;
	background: url("../photo/Lila/Lila1.jpg") 50% 50% no-repeat;
	background-size: cover;
	float: left;
	margin-right: 10px;
	border-radius: 0px 0px 0px 10px;

}

.pic5 {
	width: 290px;
	height: 200px;
	background: url("../photo/photo12.jpg") 50% 50% no-repeat;
	background-size: cover;
	float: left;
	margin-left: 10px;
}

.pic6 {
	width: 290px;
	height: 200px;
	float: right;
	background: url("../photo/Horses/Valeria2.jpg") 50% 50% no-repeat;
	background-size: cover;
	overflow: hidden;
	border-radius: 0px 0px 10px 0px;
}

div[class*="pic"] {
	margin-bottom: 20px;
	overflow: hidden;
}

div[class*="pic"]:hover {
	transform: scale(1.03);
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	box-shadow: 0px 0px 3px 1px black;
}
