body {
	margin: 0px;
	padding: 0px;
	min-width: 1240px;
}

.page {
	text-decoration: underline;
}

.text:hover {
	text-decoration: underline;
	transition-delay: 1s;
}

.up {
	width: 100%;
	height: 95px;
	background-color: white;
}

.outer-box {
	background-color: rgb(234, 233, 231);
	width: auto;
	height: 3450px;
	padding: 10px;
}

.boxphot {
	width: 1200px;
	height: 502px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 220px;
	position: relative;
}

.port-1 {
	background: url("../photo//Horses/Valeria10.jpg") 50% 30% no-repeat;
	background-size: cover;
}

p {
	display: inline-block;
	vertical-align: middle;
	font-family: VeryBerryPro-Regular;
	font-size: 35px;
	color: #4e4242;

}

div[class*="inform"] {
	background-color: rgb(234, 233, 231);
	border-radius: 5px 5px 0 0;
	width: 80%;
	margin: 0 auto;
	height: 120px;
	text-align: center;
	position: absolute;
	top: 85%;
	left: 10%;
}

.boxphot div[class*="port"] {
	border-radius: 10px;
	width: 1200px;
	height: 500px;
	margin: 0 auto;
	position: relative;

}

.table {
	width: 1260px;
	height: 2500px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 140px;
}

.photo1 {
	width: 400px;
	height: 815px;
	background: url("../photo/Horses/Valeria3.jpg") 50% 50% no-repeat;
	float: left;
	border-radius: 10px 0 0 0;
}

.photo2 {
	width: 400px;
	height: 400px;
	background: url("../photo/Horses/Valeria26.jpg") 20% 30% no-repeat;
	float: left;
}

.photo3 {
	width: 400px;
	height: 400px;
	background: url("../photo/Horses/Valeria6.jpg") 0% 50% no-repeat;
	float: left;
	border-radius: 0 10px 0 0;
}

.photo4 {
	width: 400px;
	height: 400px;
	background: url("../photo/Horses/Valeria7.jpg") 50% 50% no-repeat;
	float: left;
}

.photo5 {
	width: 400px;
	height: 400px;
	background: url("../photo/Horses/Valeria10.jpg") 50% 50% no-repeat;
	float: left;
}

.photo6 {
	width: 815px;
	height: 400px;
	background: url("../photo/Horses/Valeria2.jpg") 50% 0% no-repeat;
	float: left;
}

.photo7 {
	width: 400px;
	height: 400px;
	background: url("../photo/Horses/Valeria11.jpg") 50% 30% no-repeat;
	float: left;
}

.photo8 {
	width: 400px;
	height: 400px;
	background: url("../photo/Horses/Valeria5.jpg") 50% 30% no-repeat;
	float: left;
}

.photo9 {
	width: 400px;
	height: 400px;
	background: url("../photo/Horses/Valeria13.jpg") 30% 50% no-repeat;
	float: left;
}

.photo10 {
	width: 400px;
	height: 815px;
	background: url("../photo/Horses/Valeria15.jpg") 20% 50% no-repeat;
	float: right;
}

.photo11 {
	width: 400px;
	height: 400px;
	background: url("../photo/Horses/Valeria17.jpg") 100% 10% no-repeat;
	float: left;
}

.photo12 {
	width: 400px;
	height: 400px;
	background: url("../photo/Horses/Valeria8.jpg") 50% 10% no-repeat;
	float: right;
}

.photo13 {
	width: 400px;
	height: 400px;
	background: url("../photo/Horses/Valeria3.jpg") 50% 50% no-repeat;
	float: left;
	border-radius: 0 0 0 10px;
}

.photo14 {
	width: 815px;
	height: 400px;
	background: url("../photo/Horses/Valeria25.jpg") 0% 40% no-repeat;
	float: right;
	border-radius: 0 0 10px 0;
}

div[class*="photo"] {
	background-size: cover;
	margin-right: 15px;
	margin-top: 15px;
	box-shadow: 0 0 1px 1px black;
}

div[class*="photo"]:hover {
	box-shadow: 0 0 4px 1px black;
	transition: all 0.3s ease-out;
	transform: scale(1.01);

}

.table div[class*=photo]:nth-child(11),
.table div[class*=photo]:nth-child(15) {
	margin-right: 30px;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}
