body {
    margin: 0;
    padding: 0 0 0 0;
}

#output {
    width: auto;
    height: auto;
    font-size: 50px;
    grid-column: 1;
    grid-row: 3;
    color: white;
}

input {
    grid-column: 1;
    grid-row: 2;
    border: 1px solid black;
    font-size: 25px;
    background-color: #A67C00;
    color: white;
    text-overflow: ellipsis;
}

input::-webkit-input-placeholder { 
    color: white; 
    text-align: center;
    opacity: 0.5;
}

.container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: auto-fill;
    grid-template-rows: 100px 100px auto;
    background: #FFBF00;
}

h1 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
    color: white; 
}