@font-face {
	font-family: 'CrimsonText-Roman';
	src: url('fonts/CrimsonText-Roman/CrimsonText-Roman.eot');
	src: local('CrimsonText-Roman'), url('fonts/CrimsonText-Roman/CrimsonText-Roman.woff') format('woff'), url('fonts/CrimsonText-Roman/CrimsonText-Roman.ttf') format('truetype'), url('fonts/CrimsonText-Roman/CrimsonText-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VeryBerryPro-Regular';
	src: url('fonts/VeryBerryPro-Regular.eot');
	src: local('☺'), url('fonts/VeryBerryPro-Regular.woff') format('woff'), url('fonts/VeryBerryPro-Regular.ttf') format('truetype'), url('fonts/VeryBerryPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
    margin: 0px;
    padding: 0px;
}

header {
    position: absolute;
}

.bar {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px 0px 30px 0px;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    position: fixed;
    z-index: 100;
}

.text {
    margin: 7%;
    font-family: VeryBerryPro-Regular;
    font-size: 30px;
    color: black;
    text-decoration: none;
    transition-delay: 1s;
}

.page {
    text-decoration: underline;
}

.text:hover {
text-decoration: underline;
transition-delay: 1s;
}

.up {
    width: 100%;
    height: 95px;
    background-color: white;
}

.outer-box {
    background-color: rgb(234, 233,	231);
    width: auto;
    height: auto;
    padding: 10px;
}

.boxphoto {
    width: 1200px;
    height: 502px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 220px;
}

.port-1 {
    background: url("photo//Horses/Valeria10.jpg") 50% 30% no-repeat;
    background-size: cover;
}

.port-2 {
    background: url("photo/Bella1.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.port-3 {
    background: url("photo/Zanna/Zanna16.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.port-4 {
    background: url("photo/Lila/Lila1.jpg") 50% 50% no-repeat;
    background-size: cover; 
}


p {
   display: inline-block;
    vertical-align: middle;
    font-family: VeryBerryPro-Regular;
    font-size: 35px;
    color: #4e4242;

}
.boxphoto a div[class*="port"] {
    border-radius: 10px;
    width: 1200px; 
    height: 500px;
    margin: 0 auto;
    position: relative;

}

div[class*="port"]:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0px 0px 3px 1px white;
}

div[class*="inform"] {
    background-color: rgb(234, 233,	231);
    border-radius: 5px 5px 0 0;
    width: 80%;
    margin: 0 auto;
    height: 120px;
    text-align: center;
    position: absolute;
    top: 85%;
    left: 10%;
}

div[class*="inform"]:hover {
    transform: translate(0, -40px);
    transition: all ease-out 0.5s;
}

.link {
    width: auto;
    background-color: rgb(246, 247, 247);
    height: 150px;
    position: relative;
}

footer {
    background-color: rgb(231, 230, 227);
    height: 100px;
    position: relative;
}

.share {
    width: 200px;
    height: 100px;
    float: right;
    margin-right: 5%;
}

.social {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
    top: 20px;
}

.share .social-vk {
    background: url("photo/Vk.jpg") 50% 50% no-repeat;
    background-size: contain;
    
}
.share .social-vk:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-out;
}

.share .social-insta {
background: url("photo/Insta.jpg") 50% 50% no-repeat;
background-size: contain;
}
.share .social-insta:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-out;
}

.insta-photo {
    width: 1200px;
    height: 150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

div[class*="foot"] {
    width: 200px;
    height: 150px;
    float: left;
    background-size: cover;
}

.foot1 {
    background: url("photo/Luda1.jpg") 50% 50% no-repeat;
}
.foot2 {
    background: url("photo/Luda3.jpg") no-repeat;
}
.foot3 {
    background: url("photo/Luda2.JPG") no-repeat;
}
.foot4 {
    background: url("photo/Nat1.jpg") no-repeat;
}
.foot5 {
    background: url("photo/Nat2.jpg") no-repeat;
}
.foot6 {
    background: url("photo/Nat3.jpg") no-repeat;
}

.outer-button {
    display: block;
    background-color: rgb(180, 151, 132);
    width: 200px;
    height: 50px;
    position: relative;
    margin: auto;
    top: 50px;
    border-radius: 5px;
    text-shadow: 0 0 0.5px black;
}
.outer-button:hover {
    box-shadow: inset 0 0 3px 1px white;
    transform: scale(1.01);
    transition: all 0.2s ease-out;
}

.button {
    position: absolute;
    top: 15px;
    left: 43px;
}

.insta-button {
    color: #ffffff;
    font-family: CrimsonText-Roman;
    font-size: 1.71;
}

.imagesBy {
display: inline-block;
position: absolute;
top: 40px;
left: 45%;
font-family: "CrimsonText-Roman";
}

.logo {
    width: 130px;
    height: 90px;
    background: url("photo/sign.jpg") 50% 50% no-repeat;
    background-size: contain;
    position: fixed;
    top: 0px;
    left: 45%;
}

.block-sign {
    width: 320px;
    height: 90px;
    float: left;
    margin-top: 10px;
}
.mfs {
    width: 90px;
    height: 80px;
    background: url("photo/mfs.jpg") 50% 50% no-repeat;
    background-size: cover;
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 15px;
}
.mfs:hover {
    transform: scale(1.02);
    transition: scale 0.1s ease-out;
}
.iva {
    width: 150px;
    height: 80px;
    background: url("photo/sign.jpg") 50% 50% no-repeat;
    background-size: cover;
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 15px;
}
.iva:hover {
    transform: scale(1.02);
    transition: scale 0.1s ease-out;
}

