@font-face {
	font-family: 'CrimsonText-Roman';
	src: url('fonts/CrimsonText-Roman/CrimsonText-Roman.eot');
	src: local('CrimsonText-Roman'), url('fonts/CrimsonText-Roman/CrimsonText-Roman.woff') format('woff'), url('fonts/CrimsonText-Roman/CrimsonText-Roman.ttf') format('truetype'), url('fonts/CrimsonText-Roman/CrimsonText-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VeryBerryPro-Regular';
	src: url('fonts/VeryBerryPro-Regular.eot');
	src: local('☺'), url('fonts/VeryBerryPro-Regular.woff') format('woff'), url('fonts/VeryBerryPro-Regular.ttf') format('truetype'), url('fonts/VeryBerryPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Letter Gothic';
	src: url('fonts/ofont.ru_Letter Gothic.eot');
	src: local('☺'), url('fonts/ofont.ru_Letter Gothic.woff') format('woff'), url('fonts/ofont.ru_Letter Gothic.ttf') format('truetype'), url('fonts/ofont.ru_Letter Gothic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.box {
    background: url("photo/Horses/Valeria2.jpg") no-repeat 50% 50%;
    background-size: cover;
    width: auto;
    height: 1040px;
    margin: 0px;
    position: relative;
}

header {
    position: absolute;
}

.bar {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px 0px 30px 0px;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    z-index: 100;
    position: fixed;
}

.text {
    margin: 7%;
    font-family: VeryBerryPro-Regular;
    font-size: 30px;
    color: black;
    text-decoration: none;
    transition-delay: 1s;
}

.page {
    text-decoration: underline;
}

.text:hover {
text-decoration: underline;
transition-delay: 1s;
}

.logo {
width: 130px;
height: 90px;
background: url("photo/sign.jpg") 50% 50% no-repeat;
background-size: contain;
position: absolute;
top: 0px;
left: 45%;
}

.information {
    width: 600px;
    height: 230px;
    background: ;
    position: absolute;
    display: inline-block;
    top: 55%;
    right: 7%;
    color: white;
    font-family: Letter Gothic;
    font-size: 18px;
    text-indent: 20px;
    text-shadow: 1px 1px 1px rgb(215, 165, 109);
}

#name {
    margin-top: 30px;
    float: right;
}

.social-box {
    width: 110px;
    height: 70px;
    position: absolute;
    bottom: 5%;
    right: 7%;
}

.social {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
    top: 20px;
}

 .social-vk {
    background: url("photo/Vk%C2%A0%E2%80%94%20white.jpg") 50% 50% no-repeat;
    background-size: contain;
    
}
 .social-vk:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-out;
}

.social-insta {
background: url("photo/Insta%C2%A0-%20white.jpg") 50% 50% no-repeat;
background-size: contain;
}
.social-insta:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-out;
}