@font-face {
	font-family: 'CrimsonText-Roman';
	src: url('fonts/CrimsonText-Roman/CrimsonText-Roman.eot');
	src: local('CrimsonText-Roman'), url('fonts/CrimsonText-Roman/CrimsonText-Roman.woff') format('woff'), url('fonts/CrimsonText-Roman/CrimsonText-Roman.ttf') format('truetype'), url('fonts/CrimsonText-Roman/CrimsonText-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VeryBerryPro-Regular';
	src: url('fonts/VeryBerryPro-Regular.eot');
	src: local('☺'), url('fonts/VeryBerryPro-Regular.woff') format('woff'), url('fonts/VeryBerryPro-Regular.ttf') format('truetype'), url('fonts/VeryBerryPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Letter Gothic';
	src: url('fonts/ofont.ru_Letter Gothic.eot');
	src: local('☺'), url('fonts/ofont.ru_Letter Gothic.woff') format('woff'), url('fonts/ofont.ru_Letter Gothic.ttf') format('truetype'), url('fonts/ofont.ru_Letter Gothic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.box {
    background: url("photo/photo4.jpg") no-repeat 50% 50%;
    background-size: cover;
    width: auto;
    height: 1080px;
    margin: 0px;
}

header {
    position: absolute;
}

.bar {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px 0px 30px 0px;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    position: fixed;
    z-index: 100;
}

.text {
    margin: 7%;
    font-family: VeryBerryPro-Regular;
    font-size: 30px;
    color: black;
    text-decoration: none;
    transition-delay: 1s;
}

.page {
    text-decoration: underline;
}

.text:hover {
text-decoration: underline;
transition-delay: 1s;
}

.sign {
    
}
.arrow {
    font-size: 30px;
    color: white;
    opacity: 0.7;
    display: inline-block;
    margin-top: 30%;
    padding: 15px;
}
.left {
    float: left;
}
.right {
    float: right;
}

button {
opacity: 0.7;
}

.outer-box {
    background-color: rgb(234, 233,	231);
    height: 1670px;
    width: auto;
    padding-top: 10px;
    position: relative;
}

.inner-box {
    background-color: rgb(246, 247, 247);
    width: 1200px;
    height: 700px;
    margin: 50px auto;
    border-radius: 10px; 
    padding: 10px;
} 
.Ivasblock {
    width: 400px;
    height: 550px;
    background: url("photo/Iva.jpg");
    background-size: cover;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 50px;
    float: left;
    border-radius: 10px;
}

.text1 {
    display: inline-block;
    font-family: Letter Gothic;
    font-size: 25px;
    width: 600px;
    margin-left: 60px;
    margin-top: 25px;
    text-indent: 40px;
    text-shadow:  0 0 2px rgb(174, 140,122);
}

#name {
    display: inline-block;
    float: right;
    margin-top: 50px;
    font-family: VeryBerryPro-Regular;
    font-size: 30px;
    margin-right: 60px;
}

.headline {
    font-size: 40px;
    font-family: VeryBerryPro-Regular;
    text-align: center;
}

.headline2 {
    font-family: VeryBerryPro-Regular;
    text-align: center;
    margin-top: 100px;
}

.minitext {
    font-size: 60px;
}

.table {
width: 1220px;
margin-left: auto;
margin-right: auto;
}

.clearfix {
content: "";
display: table;
clear: both;
}
.pic1 {
    width: 290px;
    height: 200px;
    background: url("photo/photo9.jpg") 50% 50% no-repeat;
    background-size: cover;
    float: left;
    margin-right: 20px;
    border-radius: 10px 0px 0px 0px;
}
.pic2 {
    width: 290px;
    height: 200px;
    background: url("photo/Bella/Bella18.jpg") 100% 50% no-repeat;
    background-size: 150%;
    float: left;
    margin-right: 20px;
    
}
.pic3 {
    width: 600px;
    height: 400px;
    background: url("photo/photo10.jpg") 50% 50% no-repeat;
    background-size: cover;
    float: right;
    border-radius: 0px 10px 00px 0px;
}
.pic4 {
    width: 600px;
    height: 400px;
    background: url("photo/Lila/Lila1.jpg") 50% 50% no-repeat;
    background-size: cover;
    float: left;
    margin-right: 10px;
    border-radius: 0px 0px 0px 10px;
    
}
.pic5 {
    width: 290px;
    height: 200px;
    background: url("photo/photo12.jpg") 50% 50% no-repeat;
    background-size: cover;
    float: left;
    margin-left: 10px;
}
.pic6 {
    width: 290px;
    height: 200px;
    float: right;
    background: url("photo/Horses/Valeria2.jpg") 50% 50% no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 0px 0px 10px 0px;
}

div[class*="pic"] {
    margin-bottom: 20px;
    overflow: hidden;
}

div[class*="pic"]:hover {
    transform: scale(1.03);
     -moz-transition: all 0.3s ease-out;
     -o-transition: all 0.3s ease-out;
     -webkit-transition: all 0.3s ease-out;
    box-shadow: 0px 0px 3px 1px black;
}

.link {
    width: auto;
    background-color: rgb(246, 247, 247);
    height: 150px;
    position: relative;
}

footer {
    background-color: rgb(231, 230, 227);
    height: 100px;
    position: relative;
}

.share {
    width: 200px;
    height: 100px;
    float: right;
    margin-right: 5%;
}

.social {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
    top: 20px;
}

.share .social-vk {
    background: url("photo/Vk.jpg") 50% 50% no-repeat;
    background-size: contain;
    
}
.share .social-vk:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-out;
}

.share .social-insta {
background: url("photo/Insta.jpg") 50% 50% no-repeat;
background-size: contain;
}
.share .social-insta:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-out;
}

.insta-photo {
    width: 1200px;
    height: 150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

div[class*="foot"] {
    width: 200px;
    height: 150px;
    float: left;
    background-size: cover;
}

.foot1 {
    background: url("photo/Luda1.jpg") 50% 50% no-repeat;
}
.foot2 {
    background: url("photo/Luda3.jpg") no-repeat;
}
.foot3 {
    background: url("photo/Luda2.JPG") no-repeat;
}
.foot4 {
    background: url("photo/Nat1.jpg") no-repeat;
}
.foot5 {
    background: url("photo/Nat2.jpg") no-repeat;
}
.foot6 {
    background: url("photo/Nat3.jpg") no-repeat;
}

.outer-button {
    display: block;
    background-color: rgb(180, 151, 132);
    width: 200px;
    height: 50px;
    position: relative;
    margin: auto;
    top: 50px;
    border-radius: 5px;
}
.outer-button:hover {
    box-shadow: inset 0 0 3px 1px white;
    transform: scale(1.01);
    transition: all 0.2s ease-out;
}

.button {
    position: absolute;
    top: 15px;
    left: 43px;
}

.insta-button {
    color: #ffffff;
    font-family: CrimsonText-Roman;
    font-size: 1.71;
}

.imagesBy {
display: inline-block;
position: absolute;
top: 40px;
left: 45%;
font-family: "CrimsonText-Roman";
}
.sign {
    background: url("photo/sign.png") 50% 50% no-repeat;
    background-size: cover;
    width: 150px;
    height: 70px;
    margin-left: 5%;
    margin-top: -10px;
}

.logo {
    width: 130px;
    height: 90px;
    background: url("photo/sign.jpg") 50% 50% no-repeat;
    background-size: contain;
    position: fixed;
    top: 0px;
    left: 45%;
}

.block-sign {
    width: 320px;
    height: 90px;
    float: left;
    margin-top: 10px;
}
.mfs {
    width: 90px;
    height: 80px;
    background: url("photo/mfs.jpg") 50% 50% no-repeat;
    background-size: cover;
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 15px;
}
.mfs:hover {
    transform: scale(1.02);
    transition: scale 0.1s ease-out;
}
.iva {
    width: 150px;
    height: 80px;
    background: url("photo/sign.jpg") 50% 50% no-repeat;
    background-size: cover;
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 15px;
}
.iva:hover {
    transform: scale(1.02);
    transition: scale 0.1s ease-out;
}








